body {

    background-color: rgb(203, 222, 229);
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 150px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-container {
    display: flex;
    flex-direction: row;
}

.container-text {
    margin-right: 50px;
    width: 50%;
    color: #484848;
    font-size: large;
}

#container-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    background-color: rgb(236, 79, 79);
}

.container-animation h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
}

span {
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

.button-container {
    display: flex;
    justify-content: center;
}

.change-color-button {
    border: none;
    background-color: #484848;
    color: blanchedalmond;
    border-radius: 22px;
    box-shadow: 2px 2px 2px 2px rgb(176, 174, 174);
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    display: inline-block;
}

.spa-text {
    margin-top: 50px;
    margin-bottom: 50px;

}

.OOP-text {}

footer {

    margin-top: 50px;
    margin-bottom: 100px;
}